.img-fluid {
    background-color: beige;
    border-radius: 10px; 
    box-shadow: 0px 0px 7px 0px white;
    width: auto;
    height: auto;
}


.container {
    background: linear-gradient(135deg, #006400, #32CD32, #00CED1, #4682B4, #1E90FF);
    background-size: 300% 300%;
    animation: gradientAnimation 8s ease infinite;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.card {
    background-color: #f8f9fa;
    border-radius: 10px; 
    box-shadow: 0px 0px 7px 0px white
}
.card-header{
    background-color: beige; 
}

.card-footer {
    background-color: beige; 
    border-top: 1px solid #dee2e6; 
}

.boton {
    display: flex;
    justify-content: center;
}
